html {
  height: 100%;
  width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #e5e8c3;
    zoom: 90%;
  }


#score{
  font-family: "Couriers New", Courier, monospace;
  color: #11111a;
}

canvas{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0,   0.19);
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 1000px) {
    body {
        zoom: 45%;
    }
}
